* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #232222;
  --light-green: #c4fac4;
  --light-grey: #adb8c2;
  --white: #ffffff;
  --btn-field-font-size: 1rem;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "sans-serif";

  background-color: var(--body-bg);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  background-color: black;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: 3px solid var(--light-green);
  padding: 1rem 0;
  margin: 0;
}

.nav-bar-container a {
  color: var(--white);
  font-weight: 600;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  padding: 1rem 0;
  margin-bottom: 1rem;
}

nav .nav-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: white;
  font-weight: 700;
  cursor: pointer;
  background-color: unset;
}

#addTodo {
  width: 100%;
  padding: 1rem;
  background-color: #2c462c;
  color: var(--white);
  border: 3px solid var(--light-green);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  color: var(--light-green);
  font-weight: 900;
}

.todo-wrapper > aside,
.todo-wrapper > main,
.todo-wrapper > .list-container {
  flex: 1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.input-group {
  display: flex;
}

.add-new-todo {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

#newTodo {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--light-grey);
  margin: 0 0.5rem 0 0;
}

/* Dropdown styles */

.dropbtn {
  background-color: #313533;
  color: white;
  padding: 1rem;
  font-size: var(--btn-field-font-size);
  border-radius: 0.5rem;
  margin: 0;
  border: 2px solid var(--light-grey);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:nth-child(1) {
  background-color: red;
}

.dropdown-content a:nth-child(2) {
  background-color: orange;
}

.dropdown-content a:nth-child(3) {
  background-color: green;
}

.dropdown-content a:hover {
  border: 2px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2b532c;
}

#addTodo {
  margin-top: 0.5rem;
}

.list-container {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--light-grey);
  padding: 0.5rem;
  border-radius: 8px;
}

footer {
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: var(--light-grey);
  border-top: 3px solid var(--light-green);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.todo-text {
  flex: 1;
  cursor: pointer;
  display: inline-block;
}

.done {
  text-decoration: line-through;
}

.delete-btn {
  background-color: #9f0404;
  color: var(--white);
  border: 3px solid #f57c7c;
  border-radius: 8px;
  padding: 0.3rem;
  font-weight: 700;
}
