body {
  font-family: Roboto, "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 0.5rem 0 0 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}

#addTodo {
  background-color: #037103;
  color: white;
  border: 3px solid #7cf57c;
}

h1 {
  color: #0a0aa0;
  font-weight: 900;
}

.todo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#newTodo {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.list-container {
  margin: 1.5rem;
}

ul {
  list-style-type: square;
  padding: 0;
}

li {
  margin: 0.5rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
}

li:nth-child(odd) {
  color: #3333cc;
}

.done {
  text-decoration: line-through;
}

.delete-btn {
  background-color: #9f0404;
  color: white;
  border: 3px solid #f57c7c;
}
