* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #232222;
  --light-green: #c4fac4;
  --light-grey: #bebdbd;
  --white: #ffffff;
  --btn-field-font-size: 1rem;
}

body {
  font-family: Roboto, "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-bg);
}

button {
  margin: 0.5rem 0 0 0.8rem;
  cursor: pointer;
}

.location {
  padding: 0.5rem;
  background-color: #c4c3c3;
  color: black;
  border: 3px solid black;
  border-radius: 10%;
  font-size: 1rem;
  font-weight: 700;
}

#addTodo {
  width: 100%;
  padding: 1rem;
  background-color: #2c462c;
  color: var(--white);
  border: 3px solid var(--light-green);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  color: var(--light-green);
  font-weight: 900;
}

.todo-wrapper {
  display: flex;

  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;
}

.add-new-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Dropdown styles */

.dropbtn {
  background-color: #313533;
  color: white;
  padding: 1rem;
  font-size: var(--btn-field-font-size);
  border-radius: 0.5rem;
  margin: 0;

  border: 2px solid var(--light-grey);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2b532c;
}

#newTodo {
  padding: 1rem;

  border-radius: 0.5rem;
  border: 2px solid var(--light-grey);

  margin: 0 0.5rem 0 0;
}

.list-container {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  background-color: #c4c3c3;
  padding: 0.5rem;
  border-radius: 8px;
}

.delete-btn {
  background-color: #9f0404;
  color: var(--white);
  border: 3px solid #f57c7c;
  border-radius: 8px;
  padding: 0.3rem;
  font-weight: 700;
}
