:root {
  --body-bg: #232222;
  --light-green: #c4fac4;
  --light-grey: #bebdbd;
  --white: #ffffff;
}

body {
  font-family: Roboto, "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-bg);
}

button {
  margin: 0.5rem 0 0 0.8rem;
  cursor: pointer;
}

.location {
  padding: 0.5rem;
  background-color: #c4c3c3;
  color: black;
  border: 3px solid black;
  border-radius: 10%;
  font-size: 1rem;
  font-weight: 700;
}

#addTodo {
  width: 65px;
  height: 65px;
  background-color: #2c462c;
  color: var(--white);
  border: 3px solid var(--light-green);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  color: var(--light-green);
  font-weight: 900;
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#newTodo {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 4px solid var(--light-grey);
}

.list-container {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  background-color: #c4c3c3;
  padding: 0.5rem;
  border-radius: 8px;
}

.delete-btn {
  background-color: #9f0404;
  color: var(--white);
  border: 3px solid #f57c7c;
  border-radius: 8px;
  padding: 0.3rem;
  font-weight: 700;
}
